* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html{scroll-behavior: smooth;}
body {
  display: flex;
}
a{
  text-decoration: none;
  color: inherit;
}
.fixed {
  z-index: 2222;

  padding-right: 25px;
  padding-top: 35px;
  text-align: right;
  width: 20%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  position: fixed;
}

.title-container {
  height: 35%;
  width: 100%;
}
.img {
  height: 100px;
  width: 100px;
}

.gray {
  color: gray;
  margin-bottom: 20px;
}

.gray:hover,
.fs-icons:hover {
  color: white;
  cursor: pointer;
}

.f-icons {
  font-size: 16px;
  margin-left: 10px;
}
.gray:hover .f-icons {
  color: #db8594;
  cursor: pointer;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.fs-icons {
  margin-left: 10px;
  color: gray;
}

.content-section {
  max-width: 80%;
  margin-top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  flex-direction: column;
}
.section-1,.section-2,.section-3,.section-4{
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
}
.section-1 {
  background-image: url(https://pixelarity.com/items/demos/prologue/cyan/images/banner.jpg);
  color: #ffffffb5;

  text-align: center;
}
.section-1 h1,
p,
button {
  text-align: center;

  margin: 30px auto;
  max-width: 70%;
}

.section-1 button {
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: lightskyblue;
  color: white;
  border: none;
}

.section-1 h1 {
  font-weight: 100;
  font-size: 40px;
  margin-top: 100px;
}

.section-2 h1,
p ,.section-3 h1,
p ,.section-4 h1,
p {
  text-align: center;

  margin: 30px auto;
  max-width: 90%;
}
.section-2 {
  padding-bottom: 40px;
  background-color: #f5fafa;
}

.section-2 h1, .section-3 h1, .section-4 h1  {
  margin-top: 100px;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 300;
  opacity: 0.7;
}

.section-2 p , .section-3 p,.section-4 p{
  opacity: 0.5;
  line-height: 40px;
}

.flex-images {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  
}

.flex-images .col-divs {
  width: 30%;
}

.col-divs div,
img {
  width: 100%;
}

.col-divs p {
  font-weight: 300;
  color: #666;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.each {
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
}

.section-3{
  background-color:#ecf1f1 ;
  width: 100%;
  padding-bottom: 40px;
}

.section-3 h1,.section-4 h1{
  margin: 50px auto;
}

.img-div{
  max-width: 90%;
  margin: auto;
}

.section-4{
  background-color:#e8edec ;
  width: 100%;
  padding-bottom: 40px;
}

form{
  margin: auto;
  width: 90%;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

form input, textarea{
  
  background: rgba(255, 255, 255, 0.75);
    width: 100%;
    border-radius: 0.7em;
    padding: 1.5em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
}

form input:focus, textarea:focus{
  outline: lightblue 2px solid;
}

.name{
 flex-grow: 1;
}

.email{
 flex-grow: 1;
}

.text-area{
  width: 100%;
  
}
textarea{
  min-height: 300px;
}
input[type="submit"]{
  text-align: center;
  width: 250px;
  background-color: #8ebebc;
  color: white;
  font-size: 16px;
}

.footer{
  text-align: center;
    background-color: #dce3e2;
    padding: 3em 0 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 0.8em;
    width: 100%;
    color: #808080b5;
}